<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Chop Chop</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <header>
        <h1><a href="#" class="ChopChop">{{ message }}</a><link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet"></h1>
        <nav v-bind:class="active" v-on:click.prevent> <!--https://tutorialzine.com/2016/03/5-practical-examples-for-learning-vue-js-->
          <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
          <a href="#" class="projects" v-on:click="makeActive('restaurants')">Restaurants</a>
          <a href="#" class="services" v-on:click="makeActive('myplate')">MyPlate</a>
          <a href="#" class="contact" v-on:click="makeActive('account')">Account</a>
        </nav>
          <!--<p>You chose <b>{{active}}</b></p>-->
          <button class="cart" v-on:click="counter += 2">Cart ({{ cart.length }})</button> <button class="search">Search</button>
          <ul>
            <li v-for="foodItem in cart">{{ foodItem }}</li>
          </ul>
           <p class="username">{{userName}}</p>
          <!--<p>You have {{ counter }} in your cart.</p>-->
        </header>
        <main>
        <p class="options"> {{options}} </p> <!--https://vuejs.org/v2/guide/forms.html-->
          <select v-model="selected">
            <option class="buttonoptions" disabled value="">Please select one</option>
            <option>Chicken</option>
            <option>Burgers</option>
            <option>Pizza</option>
            <option>Sandwiches</option>
            <option>Sushi</option>
          </select>
            <span>Selected: {{ selected }}</span>
                <article>
                    <button v-on:click="cart.push('chicken')" class="chicken"><h2>Chicken</h2></button>
                    <div class="chickenoptions">
                      <h3><p>McDonalds</p></h3>
                      <h4><p>10 Piece</p></h4>
                        <ul>
                          <ul>Doordash</ul>
                          <ul>$8</ul>
                          <ul>5 Minutes</ul>
                        </ul>
                      </div>
                    <button v-on:click="cart.push('burgers')" class="burgers"><h2>Burgers</h2></button>
                    <div class="burgersoptions">
                      <h3><p>Burger King</p></h3>
                      <h4><p>Double</p></h4>
                        <ul>
                          <ul>Postmates</ul>
                          <ul>$2</ul>
                          <ul>4 Minutes</ul>
                        </ul>
                        </div>
                    <button v-on:click="cart.push('pizza')" class="pizza"><h2>Pizza</h2></button>
                    <div class="pizzaoptions">
                    <h3><p>Domino's</p></h3>
                    <h4><p>Large Cheese</p></h4>
                      <ul>
                        <ul>Uber Eats</ul>
                        <ul>$11</ul>
                        <ul>14 Minutes</ul>
                      </ul>
                      </div>
                    <button v-on:click="cart.push('sandwiches')" class="sandwiches"><h2>Sandwiches</h2></button>
                    <div class="sandwichesoptions">
                    <h3><p>Jimmy John's</p></h3>
                    <h4><p>Turkey Tom</p></h4>
                      <ul>
                        <ul>Grubhub</ul>
                        <ul>$7.50</ul>
                        <ul>9 Minutes</ul>
                      </ul>
                      </div>
                    <button v-on:click="cart.push('sushi')" class="sushi"><h2>Sushi</h2></button>
                    <div class="sushioptions">
                    <h3><p>Shogun</p></h3>
                    <h4><p>California Roll</p></h4>
                      <ul>
                        <ul>Doordash</ul>
                        <ul>$6.75</ul>
                        <ul>13 Minutes</ul>
                      </ul>
                      </div>
                </article>
        </main>
        <footer>
          <h2>More Information</h2>
            <ul>
                <ul><a href="#">Order History</a></ul>
                <ul><a href="#">Driver Reviews</a></ul>
                <ul><a href="#">Find New Cuisine</a></ul>
                <ul><a href="#">Upcoming Restaurants</a></ul>
            </ul>
                <p>More ways to order: <a href="#">Chop Chop Delivery Services</a> or <a href="#">other services</a> near you. Or call 1-800-CHOP-CHOP.</p>
                <p>Copyright &copy; 2020 Chop Chop Inc. All rights reserved.</p>
                    <ul>
                      <ul>Privacy Policy</ul>
                      <ul>Terms of Use</ul>
                      <ul>Sales and Refunds</ul>
                      <ul>Legal</ul>
                      <ul>Site Map</ul>
                    </ul>
                    <p>United States</p>
        </footer>
    </div>
    <script src="dist/main.js" type="text/javascript"></script>
  </body>
</html>
