<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Chop Chop</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  </head>
  <body class="bodyMargin">
    <div id="app">
      <header>
      <img class="imageWrap" src="./images/HeaderImage2-01-01.png"></img>
        <!--<h1><a href="#" class="ChopChop"><{{ message }}</a><link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet"> <img class="chopChopLogo" src="./images/chopChopLogo.png"</h1>-->
        <nav v-bind:class="active" v-on:click.prevent> <!--https://tutorialzine.com/2016/03/5-practical-examples-for-learning-vue-js-->
          <a href="#home" class="home" v-on:click="pageName = 'home'" v-on:click="makeActive('home')">Home</a>
          <a href="#restaurants" class="projects" v-on:click="pageName = 'restaurants'" v-on:click="makeActive('restaurants')">Restaurants</a>
          <a href="#myplate" class="services" v-on:click="pageName = 'myplate'" v-on:click="makeActive('myplate')">MyPlate</a>
          <a href="#account" class="contact" v-on:click="pageName = 'account'" v-on:click="makeActive('account')">Account</a>
        </nav>
          <!--<p>You chose <b>{{active}}</b></p>-->
      <div class="buttonContainer">
        <div class="buttonAlignSearch">
          <button class="cartSearchButton" v-on:click="pageName = 'myplate'">Plate ({{ cart.length }})</button>
        </div>
        <div class="buttonAlignSearch">
          <button class="cartSearchButton">Search</button>
        </div>
      </div>
          <!--<ul>
            <li v-for="foodItem in cart">{{ foodItem }}</li>
          </ul>-->
           <!-- <h3 class="username">{{userName}}</h3> -->
          <!--<p>You have {{ counter }} in your cart.</p>-->
        </header>
        <!--First Page-->
        <main v-bind:hidden="pageName != 'home'">
        <!-- <p class="options"> {{options}} </p> <!https://vuejs.org/v2/guide/forms.html-->
          <!-- <select v-model="cart">
            <option class="buttonoptions" disabled value="">Please select one</option>
            <option v-on:select="cart.push('chicken')">Chicken</option>
            <option v-on:select="cart.push('burgers')">Burgers</option>
            <option v-on:select="cart.push('pizza')">Pizza</option>
            <option v-on:select="cart.push('sandwiches')">Sandwiches</option>
            <option v-on:select="cart.push('sushi')">Sushi</option>
          </select>
            <span>Selected: {{ selected }}</span> -->
                <article>
                  <ul>
                    <li v-for="potentialOrderItem in itemsUserCanOrder">
                      <button v-on:click="addToMyPlate(potentialOrderItem)" v-bind:style="{backgroundImage:'url('+potentialOrderItem.image+')'}" class="myPlateItem">
                          <h1>{{ potentialOrderItem.foodType }}</h1>
                          <h3>{{ potentialOrderItem.restaurant }}</h3>
                          <h4>{{ potentialOrderItem.size }}</h4>
                            <ul>
                              <li>Delivered By: {{ potentialOrderItem.deliveryService }}</li>
                              <li>&#36;{{ potentialOrderItem.price }}</li>
                              <li>{{ potentialOrderItem.deliveryTime }} Minutes</li>
                            </ul>
                      </button>
                    </li>
                  </ul>
                </article>
        </main>
        <!-- Second page -->
  <main v-bind:hidden="pageName != 'restaurants'">
    <div class="restaurantsContainer">
      <div class="McDonalds Restaurants"></div>
      <div class="BurgerKing Restaurants"></div>
      <div class="Dominos Restaurants"></div>
      <div class="JJ Restaurants"></div>
      <div class="Shogun Restaurants"></div>
    </div>
  </main>
  <main v-bind:hidden="pageName != 'myplate'">
      <!-- <p class="checkout"> {{checkout}} </p> -->
      <ul>
        <li v-for="potentialOrderItem in cart">
          <button v-on:click="addToMyPlate(potentialOrderItem)" v-bind:style="{backgroundImage:'url('+potentialOrderItem.image+')'}" class="myPlateItem">
              <h3>{{ potentialOrderItem.restaurant }}</h3>
              <h4>{{ potentialOrderItem.size }}</h4>
                <ul>
                  <li>Delivered By: {{ potentialOrderItem.deliveryService }}</li>
                  <li>&#36;{{ potentialOrderItem.price }}</li>
                  <li>{{ potentialOrderItem.deliveryTime }} Minutes</li>
                </ul>
            </button>
        </li>
      </ul>
          <p class="tip"> {{tip}} </p> <!--add a tip-->
            <select class="dropdownTip">
              <option class="buttonoptions" disabled value="">Please Add a Tip</option>
              <option>$3</option>
              <option>$4</option>
              <option>$5</option>
            </select>
        <button v-on:click="clearCart" class="payNow"> <!-- added a checkout-->
        <h2 class="heading">Pay Now</h2>
        </button>
  </main>
  <main class="accountContainer" v-bind:hidden="pageName != 'account'">
    <div class="accountSignIn">
      <h2>Sign In<h2>
      <h6>New to ChopChop? <span class="signUp" href="#">Sign Up</span></h6>
      <img href="#" class="facebookGoogle" src="./images/facebookButton.png"></img>
      <img href="#" class="facebookGoogle" src="./images/googleButton.png"></img>
      <hr></hr>
      <h6>continue with email</h6>
        <form class="form">
          <label for="fname" class="emailPassword">Email</label>
          <input type="text" class="flName" name="fname">
        </form>
      <form class="form">
        <label for="lname" class="emailPassword">Password</label>
        <input type="text" class="flName" name="lname" placeholder="SHOW">
      <form>
        <img href="#home" class="signInButtonAccount" src="./images/signInButton.png"></img>
    </div>
  </main>
        <footer>
          <h2>More Information</h2>
            <ul>
                <ul><a href="#">Order History</a></ul>
                <ul><a href="#">Driver Reviews</a></ul>
                <ul><a href="#">Find New Cuisine</a></ul>
                <ul><a href="#">Upcoming Restaurants</a></ul>
            </ul>
                <p>More ways to order: <a href="#">Chop Chop Delivery Services</a> or <a href="#">other services</a> near you. Or call 1-800-CHOP-CHOP.</p>
                <p>Copyright &copy; 2020 Chop Chop Inc. All rights reserved.</p>
                    <ul>
                      <ul>Privacy Policy</ul>
                      <ul>Terms of Use</ul>
                      <ul>Sales and Refunds</ul>
                      <ul>Legal</ul>
                      <ul>Site Map</ul>
                    </ul>
                    <p>United States</p>
        </footer>
    </div>
    <script src="dist/main.js" type="text/javascript"></script>
  </body>
</html>
