html {
  background-color: #F4F4F5;
  font-size: 1em;
}
#app {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  text-align: center;
}
li {
  list-style: none;
  text-align: center;
}
h1 {
  /*border: solid 10px purple;
  background-color: purple;*/
  text-shadow: 2px 2px #000000;
  text-align: center;
}
.search {
  display: flex;
  align-items: left;
  justify-content: space-between;
}
.imageWrap {
    text-align: center;
    background-color: purple;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ChopChop {
  /*box-shadow: 0px 0px 5px #fff;*/
  height: 275px;
}
a:link {
  text-decoration: none;
}
nav {
  padding-top: 0px;
  background-color: lightgrey;
  text-align: center;
  word-spacing: 40px
}
.home {
  color: #3A3A3D;
}
.home:hover {
    color: Purple;
}
.projects {
  color: #3A3A3D;
}
.projects:hover {
    color: Purple;
}
.services{
  color: #3A3A3D;
}
.services:hover {
    color: Purple;
}
.contact{
  color: #3A3A3D;
}
.contact:hover {
    color: Purple;
}
.cart {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  transition-duration: 0.4s;
  margin: 5px;
}
.cart:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: orange;
  color: white;
}
.search {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  transition-duration: 0.4s;
}
.search:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: orange;
  color: white;
}
.username {
  text-align: center;
}
.options {
  text-align: center;
}
.buttonoptions {
  align-items: center;
}
body {
  font-family: 'Oswald', sans-serif;
}
.chicken {
  background-image: url("./images/chickenNuggetsImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: purple;
  border: none;
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-shadow: 2px 2px #000000;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
.chickenImage {
  width: 100%;
  display: inline-block;
}
.chicken:hover {
  opacity: 0.6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from {
    opactiy: 0;
  }
  to {
    opacity: 1;
  }
}
.chickenoptions {
  text-align: center;
}
.myPlateChicken {
  background-image: url("./images/chickenNuggetsImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border: none;
  color: white;
  padding: 32px 32px;
  align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
.burgers {
  background-image: url("./images/burgerImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: purple;
  border: none;
  color: white;
  padding: 32px 32px;
  text-shadow: 2px 2px #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
.burgers:hover {
  opacity: 0.6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  animation: fadeIn 2s;
}
.burgersoptions {
  text-align: center;
}
.pizza {
  background-image: url("./images/pizzaImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: purple;
  border: none;
  color: white;
  padding: 32px 32px;
  text-shadow: 2px 2px #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
.pizza:hover {
  opacity: 0.6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  animation: fadeIn 2s;
}
.pizzaoptions {
  text-align: center;
}
.myPlatePizza {
  background-image: url("./images/pizzaImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: grey;
  border: none;
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
.sandwiches {
  background-image: url("./images/sandwichImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: purple;
  border: none;
  color: white;
  padding: 32px 32px;
  text-shadow: 2px 2px #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
.sandwiches:hover {
  opacity: 0.6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  animation: fadeIn 2s;
}
.sandwichesoptions {
  text-align: center;
}
.sushi {
  background-image: url("./images/sushiImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: purple;
  border: none;
  color: white;
  padding: 32px 32px;
  text-shadow: 2px 2px #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
.sushi:hover {
  opacity: 0.6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  animation: fadeIn 2s;
}
.sushioptions {
  text-align: center;
}
.myPlateHeading {
background-color: orange;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-style: bold;
font-size: 20px;
width: 100%;
}
.payNow {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 100%;
}
a {
  font-size: 2em;
  color: Purple;
}
a:hover {
  color: Purple;
}

p {
  margin: 1em;
  padding: 0.5em;
}

footer {
  text-align: center;
  margin: 1em;
  border: solid 4px orange;
  padding: 0.25em;
  background-color: orange;
}
