html {
  background-color: #F4F4F5;
  font-size: 1em;
}
#app {
  margin-left: auto;
  margin-right: auto;
}
.bodyMargin {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}
ul {
  text-align: center;
  padding-inline-start: 0;
}
li {
  list-style: none;
  text-align: center;
}
h1 {
  /*border: solid 10px purple;
  background-color: purple;*/
  text-shadow: 2px 2px #000000;
  text-align: center;
}
.signUp {
  font-weight: bold;
  color: #F48E22;
}
.emailPassword {
  margin-bottom: 0;
  align-items:left;
  font-weight: bold;
  color: #F48E22;
}
.flName {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #8C8C8C;
  border-radius: 4px;
}
.form {
  margin-bottom: 25px;
}
.facebookGoogle {
  margin-bottom: 30px;
}
.signInButtonAccount {
  margin-top: 30px;
  margin-bottom: 30px;
}
h6 {
  margin-top: 0;
  font-size: 1em;
  font-weight: lighter;
  color: #8C8C8C;
}
.buttonAlignSearch {
  display: inline-flex;
}
.imageWrap {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
a:link {
  text-decoration: none;
}
nav {
  margin-top: 0;
  padding-top: 0;
  background-color: lightgrey;
  text-align: center;
  word-spacing: 40px
}
.home {
  color: #3A3A3D;
}
.home:hover {
    color: Purple;
}
.projects {
  color: #3A3A3D;
}
.projects:hover {
    color: Purple;
}
.services{
  color: #3A3A3D;
}
.services:hover {
    color: Purple;
}
.contact{
  color: #3A3A3D;
}
.contact:hover {
    color: Purple;
}
.buttonContainer {
  margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.cartSearchButton {
  border-radius: 25px;
  margin-left: 10px;
  padding-inline-start: 0;
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  transition-duration: 0.4s;
  margin-top: 10px;
}
.cartSearchButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: orange;
  color: white;
}
.username {
  margin-top: 0;
  text-align: center;
  color: purple;
}
.options {
  text-align: center;
}
.buttonoptions {
  align-items: center;
}
body {
  font-family: 'Oswald', sans-serif;
}
.myPlateItem:hover {
  opacity: 0.6;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  from {
    opactiy: 0;
  }
  to {
    opacity: 1;
  }
}
.myPlateItem {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border: none;
  color: white;
  padding: 32px 32px;
  align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.checkout {
  text-align: center;
}
.dropdownTip {
  margin-left: 20px;
}
.tip {
  margin-bottom: 5px;
}
.payNow {
  border-radius: 25px;
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.restaurantsContainer {
  text-align: center;
}
.McDonalds {
  background-image: url("./images/McDonalds_Image1-01.png");
}
.BurgerKing {
  background-image: url("./images/BurgerKing_Image2-01.png");
}
.Dominos {
  background-image: url("./images/Dominos_Image2-01.png");
}
.JJ {
  background-image: url("./images/JJ_Image2-01.png");
}
.Shogun {
  background-image: url("./images/Sushi_Image2-01.png");
}
.Restaurants {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  padding: 32px 32px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 508px;
  height: 250px;
}
.accountContainer {
  text-align: center;
}
.accountSignIn {
  align-content: center;
  background-color: #FFFFFF;
  border-radius: 25px;
  background-size: cover;
  border: none;
  padding: 32px 32px;
  display: inline-block;
  margin-bottom: 20px;
  width: 700px;
  height: 700px;
}
a {
  font-size: 2em;
  color: Purple;
}
a:hover {
  color: Purple;
}

p {
  margin: 1em;
  padding: 0.5em;
}

footer {
  margin-top: 0;
  text-align: center;
  border: solid 4px orange;
  background-color: orange;
}
