html {
  background-color: #F4F4F5;
  font-size: 1em;
}
.ChopChop {
  font-family: 'Oswald', sans-serif;
  color: orange;
  margin: 1em;
  border: solid 4px purple;
  padding: 0.25em;
  background-color: purple;
  text-align: center;
}
a:link {
  text-decoration: none;
}
.home {
  color: #3A3A3D;
  background-color: lightgrey;
  text-align: center;
  word-spacing: 40px
}
.projects {
  color: #3A3A3D;
  text-align: center;
}
.services{
  color: #3A3A3D;
  text-align: center;
}
.contact{
  color: #3A3A3D;
  text-align: center;
}
body {
  font-family: 'Oswald', sans-serif;
}

a {
  font-size: 2em;
  color: Purple;
}
a:hover {
  color: Purple;
}

p {
  margin: 1em;
  padding: 0.5em;
}

footer {
  margin: 1em;
  border: solid 4px orange;
  padding: 0.25em;
  background-color: orange;
}
